<tr>
  <td class="quantity"><%= line_item.quantity %></td>
  <td><%= image_tag attachments["#{line_item.product.title}_1"].url, height: 50 %></td>
  <td><%= line_item.product.title %></td>
  <td class="price"><%= number_to_currency(line_item.total_price) %></td>
</tr>
