<tr>
  <td>
    <%= link_to category.name, books_admin_category_path(category) %>
  </td>
  <td>
    <%= category.parent_id %>
  </td>
  <td>
    <%= category.products_count %>
  </td>
</tr>
<%= render category.subcategories %>
