<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>
<h1>Categories</h1>
<table>
  <% @categories.each do |category| %>
    <tr>
      <td>
        <b><%= category.name %></b>
        <table>
          <% category.subcategories.each do |subcategory| %>
            <tr>
              <td>
                <%= subcategory.name %>
              </td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
  <% end %>
</table>
